<!--<header class="p-3 mb-3 border-bottom fixed-top bg-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="#">
          <img src="/static/rp.png" alt="Bootstrap" width="30" height="24">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="https://demowebsiterepo.rohitpaul8.repl.co/" class="nav-link px-3 link-secondary">Home</a></li>
          <li><a href="https://demowebsiterepo.rohitpaul8.repl.co/qualification" class="nav-link px-3 link-dark">Qualification</a></li>
          <li><a href="https://demowebsiterepo.rohitpaul8.repl.co/project" class="nav-link px-3 link-dark">Project</a></li>
          <li><a href="https://demowebsiterepo.rohitpaul8.repl.co/contact" class="nav-link px-3 link-dark">Contacts</a></li>
        </ul>
        
      </div>
    </div>
  </header>

   -->


<nav class="navbar fixed-top navbar-expand-lg bg-light" style='padding:0'>
  <div class="container-fluid" style='margin-left:6vw'>
    <a class="navbar-brand" href="https://demowebsiterepo.rohitpaul8.repl.co/">
      <img src="/static/rp.png" alt="RP" width="50" height="60" class="d-inline-block align-text-top">
      aul 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style='position: absolute; right:6vw;'>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 h5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://demowebsiterepo.rohitpaul8.repl.co/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demowebsiterepo.rohitpaul8.repl.co/qualification">Qualification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demowebsiterepo.rohitpaul8.repl.co/project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demowebsiterepo.rohitpaul8.repl.co/contact">Contacts</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>

<div style="height:15vh"></div>