
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner">
 
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style='display:block; height:350px;'>
        <rect width="100%" height="100%" fill="#777"/>
      </svg>

      <div class="container" style='position:relative;'>
        <div class="carousel-caption">
          <h1>My Qualification and paper published</h1>
          <p>I Computer Enthusiast who loves developing stuff and playing with data. Completed my MTech in Computer Science and Engineering from IIEST, Shibpur where I worked on developing a new parameter-less variable density-based clustering algorithm which recently published in IEEE.</p>
          <p><a class="btn btn-lg btn-primary" href="https://demowebsiterepo.rohitpaul8.repl.co/qualification">Browse Qualifications</a></p>
        </div>
      </div>
      
    </div>
      
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style='display:block; height:350px;'>
        <rect width="100%" height="100%" fill="#777">
      </svg>

      <div class="container" style='position:relative;'>
        <div class="carousel-caption">
          <h1>My Experience.</h1>
          <p>I worked on different Machine learning model like Regression, GDA, Naive Bayes, SVM, Decision Tree(and Random Forest), neural network and deep learning model, on real world dataset and have also done some data analysis, computer vision(CNN, RCNN, U-Net) and nlp project(BOW, RNN, LSTM, GRU, Transformer, GPT-2, BERT, T5). Have experience of transfer learning and tuning on the state-of-the-art algorithm.</p>
          <p><a class="btn btn-lg btn-primary" href="https://demowebsiterepo.rohitpaul8.repl.co/project">Browse Projects</a></p>
        </div>
      </div>
    </div>
      
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style='display:block; height:350px;'>
        <rect width="100%" height="100%" fill="#777"/>
      </svg>

      <div class="container" style='position:relative;'>
        <div class="carousel-caption">
          <h1>let's Collaborate.</h1>
          <p>I am someone who loves learning a new skills and developing myself on a daily basis and emphasizes both practical and theoretical aspects. I would like to contribute my acquired knowledge and skills through previous experience. Would like to collaborate and so contributes my learning capability to acquire new knowledge for attaining the common goals.</p>
          <p><a class="btn btn-lg btn-primary" href="https://demowebsiterepo.rohitpaul8.repl.co/contact">Contact Me</a></p>
        </div>
      </div>
    </div>
  
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>