{% set noOfCols = 6 %}
{% set m = skills|length//noOfCols%}
{% set n = skills|length%noOfCols %}

<div class="container text-center" style=" background-color: #7777774d; border-radius: 0px 0px 10px 10px; border: #777777; border-style: solid; border-width: 5px;">
  {% for i in range(m) %}
    <div class="row" style='margin-top: 10vh; height:15vh; align-items:center '>
      {% for skill in skills[i*noOfCols:(i+1)*noOfCols] %}
        <div class="col content_img">
          <img src={{ skill['icon'] }} alt={{ skill['name'] }} style="width:5vw; height:auto">
          <div class="imgDesc">{{ skill['name'] }}</div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {% set temp = m*noOfCols %}
    <div class='row' style='margin-top: 10vh; height:15vh; align-items:center '>
      {% for skill in skills[temp:] %}
        <div class='col content_img'>
          <img src={{ skill['icon'] }} alt={{ skill['name'] }} style="width:5vw; height:auto">
          <div class="imgDesc">{{ skill['name'] }}</div>
        </div>
      {% endfor %}
    </div>
</div>